<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"
>
<title>Side bar</title>

</head>
<body>
	<div id="container-fluid">
		<nav>
			<button type="button" id="sidebarCollapse" class="navbar-btn">
				<i class="fa fa-bars fa-align-left"></i> <span></span>
			</button>
		</nav>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {

			$('#sidebarCollapse').on('click', function() {
				$('#sidebar').toggleClass('active');
			});

		});
	</script>

</body>
</html>