<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"
>

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
>
<link rel="stylesheet" th:href="@{/assets/style.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
>

<script type="text/javascript" th:src="@{/assets/plotly.min.js}"></script>
<script src="webjars/jquery/3.1.1/jquery.js"></script>
<script src="webjars/bootstrap/js/bootstrap.min.js"></script>
<title>DashBoard</title>

</head>
<body>

	<div class="wrapper">


		<div th:insert="sidebar"></div>

		<div th:insert="botaoSidebar"></div>

		<div class="row">


			<div class="col-lg col-xl">

				<div id="grafico_memoria" class="responsive-plot"></div>

			</div>
			<div class="row" style="height: 75px; width: 100%;"></div>
			<div class="col-lg col-xl">

				<div id="grafico_disco" class="responsive-plot"></div>

			</div>
		</div>
		<div class="row">
			<div class="col-lg col-xl">

				<div id="grafico_cpu" class="responsive-plot"></div>

			</div>
			<div class="row" style="height: 75px; width: 100%;"></div>
			<div class="col-lg col-xl">

				<div id="grafico_rede" class="responsive-plot"></div>

			</div>
		</div>
	<h3 th:text="${hostName}" style="color: white;"></h3>
	</div>



	<script type="text/javascript" th:inline="javascript">

		var hostName = [[${hostName}]];			

		var memoria = {
			y : 0,
		};

		var linha1 = {
			y : [ memoria.y ],
			mode : 'lines+markers',
			name : '% de uso Memoria RAM',
			type : 'line',
			line : {
				color : 'rgb(0, 0, 0)',
			}
		};
		var linha2 = {
			y : [ 0 ],
			mode : 'lines',
			line : {
				color : 'white',
			},
			name : ''
		}
		var layout = {
			title : 'Memoria RAM',
			xaxis : {
				range : [0, 30]
			}
		};
		var datz2 = [ linha1, linha2 ];
		getData();
		Plotly.newPlot('grafico_memoria', datz2, layout);
		var cnt = 0;
		setInterval(function() {
			getData();
			Plotly.extendTraces('grafico_memoria', {
				y : [ [ memoria.y ] ]
			}, [ 0 ]);
			cnt++;
			if (cnt > 30) {
				Plotly.relayout('grafico_memoria', {
					xaxis : {
						range : [ cnt - 30, cnt ]
					}
				});
			}
		}, 1000);

		function getData() {
			var x = $.getJSON("api/memoria?hostName=" + hostName, function(data) {
				memoria.y = data;
			});
		}
	</script>

	<script type="text/javascript" th:inline="javascript">
		var disco = {
			disco1Livre : 1,
			disco1Ocupado : 1,
			disco2Livre : 1,
			disco2Ocupado : 1,
			disco3Livre : 1,
			disco3Ocupado : 1,
			disco4Livre : 1,
			disco4Ocupado : 1,
			disco5Livre : 1,
			disco5Ocupado : 1,
			disco6Livre : 1,
			disco6Ocupado : 1			
		};
		
		

		var datz = [ {
			values : [ disco.disco1Livre, disco.disco1Ocupado],
			labels : [ 'Disco Livre1', 'Disco Ocupado1' ],
			type : 'pie',
			textinfo : "percent",
			hoverinfo : 'label+value',
			marker : {
				colors : [ '2ED069', 'D02E4E']
			},
		  	domain: {
			    row: 0,
			    column: 0
			},
		},{
			values : [ disco.disco2Livre, disco.disco2Ocupado],
			labels : [ 'Disco Livre2', 'Disco Ocupado2' ],
			type : 'pie',
			textinfo : "percent",
			hoverinfo : 'label+value',
			marker : {
				colors : ['AB00D5', 'C6F700']
			},
		  	domain: {
			    row: 0,
			    column: 1
			},
		},{
			values : [ disco.disco3Livre, disco.disco3Ocupado],
			labels : [ 'Disco Livre3', 'Disco Ocupado3' ],
			type : 'pie',
			textinfo : "percent",
			hoverinfo : 'label+value',
			marker : {
				colors : [ '5381EC', 'F9B836']
			},
		  	domain: {
			    row: 0,
			    column: 2
			},
		},{
			values : [ disco.disco4Livre, disco.disco4Ocupado],
			labels : [ 'Disco Livre4', 'Disco Ocupado4' ],
			type : 'pie',
			textinfo : "percent",
			hoverinfo : 'label+value',
			marker : {
				colors : [ 'FFE280', 'FBFF69']
			},
		  	domain: {
			    row: 1,
			    column: 0
			},
		},{
			values : [ disco.disco5Livre, disco.disco5Ocupado],
			labels : [ 'Disco Livre5', 'Disco Ocupado5' ],
			type : 'pie',
			textinfo : "percent",
			hoverinfo : 'label+value',
			marker : {
				colors : ['71ECB3', 'F7A757']
			},
		  	domain: {
			    row: 1,
			    column: 1
			},
		},{
			values : [ disco.disco6Livre, disco.disco6Ocupado ],
			labels : [ 'Disco Livre6', 'Disco Ocupado6' ],
			type : 'pie',
			textinfo : "percent",
			hoverinfo : 'label+value',
			marker : {
				colors : [ '69FA64', '3ABF47']
			},
		  	domain: {
			    row: 1,
			    column: 2
			},
		},
		
		];
		
		var layoutDisco = {
			title : 'Disco',
			grid: {rows: 2, columns: 3}
		};
		getData();
		Plotly.newPlot('grafico_disco', datz, layoutDisco);
		setInterval(function() {
			getData();
			Plotly.newPlot('grafico_disco', datz, layoutDisco);
		},5000);


		function getData() {

			var y = $.getJSON("api/disco", function(data) {
				datz[0].values = [data[0].discoLivre, data[0].discoUsado];
				datz[1].values = [data[1].discoLivre, data[1].discoUsado];
				datz[2].values = [data[2].discoLivre, data[2].discoUsado];
				datz[3].values = [data[3].discoLivre, data[3].discoUsado];
				datz[4].values = [data[4].discoLivre, data[4].discoUsado];
				datz[5].values = [data[5].discoLivre, data[5].discoUsado];
				datz[0].labels = ["Livre: " + data[0].partition , "Em uso: " + data[0].partition];
				datz[1].labels = ["Livre: " + data[1].partition , "Em uso: " + data[1].partition];
				datz[2].labels = ["Livre: " + data[2].partition , "Em uso: " + data[2].partition];
				datz[3].labels = ["Livre: " + data[3].partition , "Em uso: " + data[3].partition];
				datz[4].labels = ["Livre: " + data[4].partition , "Em uso: " + data[4].partition];
				datz[5].labels = ["Livre: " + data[5].partition , "Em uso: " + data[5].partition];
			});
		}
	</script>

	<script type="text/javascript" th:inline="javascript">
		var processador = {
			y : 0,
		}

		var linha1 = {
			y : [ processador.y ],
			mode : 'lines+markers',
			name : '% uso da CPU',
			type : 'line'
		}
		var linha2 = {
			y : [ 0 ],
			mode : 'lines',
			line : {
				color : 'white',
			},
			name : ''
		}
		var layoutProc = {
			title : 'CPU',
			xaxis : {
				range : [0, 30]
			}
		}
		var datzProc = [ linha1, linha2 ];
		getData();
		Plotly.newPlot('grafico_cpu', datzProc, layoutProc);
		var cnt3 = 0;
		setInterval(function() {
			getData();
			Plotly.extendTraces('grafico_cpu', {
				y : [ [ processador.y ] ]
			}, [ 0 ]);
			cnt3++;
			if (cnt3 > 30) {
				Plotly.relayout('grafico_cpu', {
					xaxis : {
						range : [ cnt3 - 30, cnt3 ]
					}
				});
			}
		}, 1000);

		function getData() {
			var proc = $.getJSON("api/processador?hostName=" + hostName, function(data) {
				processador.y = data;
			});
		}
	</script>

	<script type="text/javascript" th:inline="javascript">
		var rede = {
			buffer: -1,
			y : 0,
		}

		var linha1 = {
			y : [ rede.y ],
			mode : 'lines+markers',
			name : 'Taxa de tranferencia da rede',
			type : 'line'
		}
		var linha2 = {
			y : [ 0 ],
			mode : 'lines',
			line : {
				color : 'white',
			},
			name : ''
		}
		var layoutRede = {
			title : 'Rede',
			xaxis : {
				range : [0, 30]
			}
		}
		var datzR = [ linha1, linha2 ];
		getDataR();
		Plotly.newPlot('grafico_rede', datzR, layoutRede);
		var cnt4 = 0;
		setInterval(function() {
			getDataR();
			console.log(rede.y);
			Plotly.extendTraces('grafico_rede', {
				y : [ [ rede.y ] ]
			}, [ 0 ]);
			cnt4++;
			if (cnt4 > 30) {
				Plotly.relayout('grafico_rede', {
					xaxis : {
						range : [ cnt4 - 30, cnt4 ]
					}
				});
			}
		}, 3000);

		function getDataR() {
			var net = $.getJSON("api/rede", function(data) {
				if(rede.buffer == -1){
					rede.buffer = data;
					rede.y = 0;
				} else {
					rede.y = data - rede.buffer;
					rede.buffer = data;
				}
				console.log(rede.y);
			});
		}
	</script>


</body>
</html>