<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org/"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="webjars/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/assets/style.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" th:src="@{/assets/plotly.min.js}"></script>
  <script src="webjars/jquery/3.1.1/jquery.js"></script>
  <title>Side bar</title>

</head>

<body>
	
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Spider Defense Neighborhood</h3>
      </div>

      <ul class="list-unstyled components">
        <li>
          <a href="#"><i class="fa fa-tachometer fa-2x"></i> Dashboard</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-server fa-2x"></i>Dispositivos</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-exclamation-triangle fa-2x"></i>Alertas</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-cog fa-2x"></i>Configurações</a>
        </li>
      </ul>
    </nav>


</body>
</html>