<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>

<head>
<meta charset="utf-8">
<meta name="viewport" content="height=device-height" />
</head>
<div class="container-fluid">
	<nav id="sidebar">
		<div class="sidebar-header">
			<h3>Spider Defense Neighborhood</h3>
		</div>

		<ul class="list-unstyled components">
			<li><a href="/dashboard"><i class="fa fa-tachometer fa-2x"></i>Dashboard</a>
			</li>
			<li><a href="/dispositivos"><i class="fa fa-server fa-2x"></i>Dispositivos</a>
			</li>
			<li><a href="#"><i class="fa fa-exclamation-triangle fa-2x"></i>Alertas</a>
			</li>
			<li><a href="#"><i class="fa fa-cog fa-2x"></i>Configurações</a>
			</li>
		</ul>
	</nav>
</div>

</html>