<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org/"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="webjars/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/assets/style.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" th:src="@{/assets/plotly.min.js}"></script>
  <script src="webjars/jquery/3.1.1/jquery.js"></script>
  <title>Side bar</title>

</head>
<body>

  <div class="wrapper">

    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Spider Defense Neighborhood</h3>
      </div>

      <ul class="list-unstyled components">
        <li>
          <a href="#"><i class="fa fa-tachometer fa-2x"></i> Dashboard</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-server fa-2x"></i>Dispositivos</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-exclamation-triangle fa-2x"></i>Alertas</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-cog fa-2x"></i>Configurações</a>
        </li>
      </ul>
    </nav>


    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="navbar-btn">
            <i class="fa fa-bars fa-align-left"></i>
            <span></span>
          </button>

        </div>
      </nav>
    </div>

    <div class="row">


      <div class="col-lg col-xl">

        <div id="grafico_memoria" class="responsive-plot">

        </div>

      </div>
	  <div class="row" style="height: 75px;width: 100%;"></div>
      <div class="col-lg col-xl">

        <div id="grafico_disco" class="responsive-plot">

        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-lg col-xl">

        <div id="grafico_cpu" class="responsive-plot">

        </div>

      </div>
	  <div class="row" style="height: 75px;width: 100%;"></div>
      <div class="col-lg col-xl">

        <div id="grafico_rede" class="responsive-plot">

        </div>

      </div>
    </div>

  </div>



  <script type="text/javascript" th:inline="javascript">

  var memoria = {
    y: 0,
  }

  var datz = {
    y:[memoria.y],
    mode: 'lines+markers',
    name: 'a',
    type:'line'
  }
  var layout = {
    title: '% Mem RAM'
  }
  var datz2 = [datz];
  getData();
  Plotly.newPlot('grafico_memoria', datz2, layout);
  console.log(datz);
  console.log(datz2);
  var cnt = 0;
  setInterval(function(){
    getData();
    Plotly.extendTraces('grafico_memoria',{ y:[ [memoria.y] ]}, [0]);
    cnt++;
    if(cnt > 20) {
      Plotly.relayout('grafico_memoria',{
        xaxis: {
          range: [cnt-20,cnt]
        }
      });
    }
  },1000);

  function getData() {
    var x =$.getJSON( "api/memoria", function( data ) {
      memoria.y = data;
    });
    var disco = $.getJSON( "api/disco", function ( data ){
      console.log(data);
    });

  }


</script>

<script type="text/javascript" th:inline="javascript">

var memoria = {
  y: 0,
}

var datz = {
  y:[memoria.y],
  mode: 'lines+markers',
  name: 'a',
  type:'line'
}
var layout = {
  title: '% Mem RAM'
}
var datz2 = [datz];
getData();
Plotly.newPlot('grafico_disco', datz2, layout);
console.log(datz);
console.log(datz2);
var cnt2 = 0;
setInterval(function(){
  getData();
  Plotly.extendTraces('grafico_disco',{ y:[ [memoria.y] ]}, [0]);
  cnt2++;
  if(cnt2 > 20) {
    Plotly.relayout('grafico_disco',{
      xaxis: {
        range: [cnt2-20,cnt2]
      }
    });
  }
},1000);

function getData() {
  var x =$.getJSON( "api/memoria", function( data ) {
    memoria.y = data;
  });
  var disco = $.getJSON( "api/disco", function ( data ){
    console.log(data);
  });

}


</script>

<script type="text/javascript" th:inline="javascript">

var memoria = {
  y: 0,
}

var datz = {
  y:[memoria.y],
  mode: 'lines+markers',
  name: 'a',
  type:'line'
}
var layout = {
  title: '% Mem RAM'
}
var datz2 = [datz];
getData();
Plotly.newPlot('grafico_cpu', datz2, layout);
console.log(datz);
console.log(datz2);
var cnt3 = 0;
setInterval(function(){
  getData();
  Plotly.extendTraces('grafico_cpu',{ y:[ [memoria.y] ]}, [0]);
  cnt3++;
  if(cnt3 > 20) {
    Plotly.relayout('grafico_cpu',{
      xaxis: {
        range: [cnt3-20,cnt3]
      }
    });
  }
},1000);

function getData() {
  var x =$.getJSON( "api/memoria", function( data ) {
    memoria.y = data;
  });
  var disco = $.getJSON( "api/disco", function ( data ){
    console.log(data);
  });

}


</script>

<script type="text/javascript" th:inline="javascript">

var memoria = {
  y: 0,
}

var datz = {
  y:[memoria.y],
  mode: 'lines+markers',
  name: 'a',
  type:'line'
}
var layout = {
  title: '% Mem RAM'
}
var datz2 = [datz];
getData();
Plotly.newPlot('grafico_rede', datz2, layout);
console.log(datz);
console.log(datz2);
var cnt4 = 0;
setInterval(function(){
  getData();
  Plotly.extendTraces('grafico_rede',{ y:[ [memoria.y] ]}, [0]);
  cnt4++;
  if(cnt4 > 20) {
    Plotly.relayout('grafico_rede',{
      xaxis: {
        range: [cnt4-20,cnt4]
      }
    });
  }
},1000);

function getData() {
  var x =$.getJSON( "api/memoria", function( data ) {
    memoria.y = data;
  });
  var disco = $.getJSON( "api/disco", function ( data ){
    console.log(data);
  });

}


</script>

<script type="text/javascript">
$(document).ready(function () {

  $('#sidebarCollapse').on('click', function () {
    $('#sidebar').toggleClass('active');
  });

});
</script>




</body>
</html>
